.sort-filter-bar {
  display: flex;
  /* background-color: #e2fbfa; */
  background-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  bottom: 3rem;
  height: 4.5rem;
  /* width: 60%; */
  align-self: center;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  gap: 10px;
}

.sort-icon--wrapper,
.filter-icon--wrapper {
  display: flex;
  gap: 10px;
  background-color: var(--backgroundColor);
  width: 5.5rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border-style: solid;
}

.filter-icon--wrapper {
  background-color: var(--accent);
}

.filter-options {
  display: flex;
  background-color: var(--backgroundColor);
  /* background-color: red; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.location-selection,
.price-selection,
.area-selection,
.rooms-selection {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 20px 0px 0px 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-style: solid;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.rooms-selection {
  border: 20px;
}
