:root {
  --backgroundColor: #f4f2f3;
  --primary: #c0a9bd;
  --secondary: #94a7ae;
  --accent: #64766a;
  --fontColor: #050315;
  --fontFamily: "Inter", sans-serif;

  /* ////////////////// */
  --primarySwiper: #6a59ff;
  --whiteSwiper: #ffffff;
  --bgSwiper: #f5f5f5;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100dvh;
}

body {
  height: 100%;
}

#root {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
