.hostelFilterByAreaNameContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding-left: 5px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.08);
}

.hostelFilterByAreaName {
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.08);
  height: 100%;
  border: 0px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--fontFamily);
  padding: 0 10px 0 15px;
}

.hostelFilterByAreaName:focus {
  outline: none;
}
::placeholder {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  opacity: 0.8;
}
