.displayHostelContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 25rem;
}

.hostelInfoWrapper {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0px 15px 20px;
  gap: 0.5rem;
  border-radius: 10px;
  background-color: var(--backgroundColor);
  height: 100%;
}

.hostelInfoWrapper:hover {
  box-shadow: 0 0 10px rgba(95, 110, 245, 0.5);
}

.imageContainer {
  width: 30%;
}
.imageBody {
  position: relative;
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.hostelImage {
  border-radius: 15px;
  display: block;
  height: 100%;
  width: 100%;
}

.save-btn {
  cursor: pointer;
  border: 0px;
}

.hostelInfo {
  width: 20px;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
}

.hostelInfo-info {
  width: 60%;
  flex-direction: column;
  padding-left: 1rem;
  display: grid;
  grid-template-rows: 11% 11% 11% 10% 16% 41%;
}

.hostel-name {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

/* .hostel-ratings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  align-self: flex-end;
} */

.hostel-ratings-reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
}
.hostel-address {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.hostel-address > a {
  color: black;
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
  text-decoration: none;
}

.hostelInfo-review {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f7f7;
  justify-content: space-between;
  border-radius: 0px 10px 16px 0px;
}

.hostelInfo-review--rate {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  padding: 10px;
}

.show-price--btn {
  height: 4rem;
  width: 100%;
  align-self: flex-end;
  background-color: #5367da;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 600;
  border-style: solid;
  border-radius: 0px 0px 16px 0px;
  color: white;
  cursor: pointer;
  border: 0px;
  text-transform: uppercase;
}

.ratingsReviews {
  display: flex;
  height: 100%;
  align-items: center;
  height: 2.2rem;
  gap: 1rem;
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  align-self: center;
}

.sparkleRating {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 10px 0px 10px;
  gap: 10px;
  border-radius: 10px;
  background-color: #f5b642;
}

.remarkRate {
  display: flex;
  gap: 5px;
}

.serviceInclude {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  gap: 5px;
  padding-left: 20px;
}
.serviceInclude > li {
  display: flex;
}

.serviceInclude > li > div {
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-family: var(--fontFamily);
  align-items: center;
}
.showOnMap {
  display: flex;
  gap: 10px;
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
  align-items: center;
}

.show-location {
  font-family: var(--fontFamily);
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: #5367da;
}

.show-location:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
}

.userReview {
  display: flex;
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}

.testimony {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 10px;
}

.userPic {
  min-height: 5rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 50%;
}

.userProfile {
  height: 90%;
  width: 90%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.userText {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
}

.userName {
  height: 30px;
  color: #d16969;
  font-family: var(--fontFamily);
  font-size: 600;
  font-weight: bold;
}

.hostel-ratings-reviews {
  display: flex;
}

.distace-duration {
  display: flex;
  font-family: var(--fontFamily);
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.distanceContainer,
.durationContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}
