.main-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px 250px 20px 120px;
  background-color: var(--backgroundColor);
}

.left {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 4rem;
  width: 25%;
}

.site-icon--wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-icon--wrapper > p {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-weight: 600;
}

.list-property--container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  text-decoration: none;
  height: 3.5rem;
  padding: 10px;
  border-radius: 16px;
  transition: all 0.8s ease;
}

.list-property--container:hover {
  text-decoration: underline;
  font-size: 1.3rem;
}

.side-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.side-bar-wrapper--sticky {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: sticky;
  top: 10px;
}

.contacts-btns {
  display: flex;
  gap: 1rem;
  gap: 2rem;
}

.contacts-btns a {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 600;
  /* height: 4rem; */
  /* width: 4rem; */
  border-radius: 50%;
  cursor: pointer;
}

.contacts-btns a:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--secondary);
}

.right {
  padding: 20px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.hostel-name-count {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}

.hostel-name-count > p:first-child {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.8rem;
  font-weight: 600;
}

.hostel-name-count > p:nth-child(2),
.hostel-name-count > p:nth-child(3) {
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  font-weight: 600;
}

.display-wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
