.showMap {
  background-image: url("../../assets/images/map-2.jpg");
  background-color: var(--accent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  border-radius: 8px;
  height: 20rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0.8rem 0px 1rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showMap button {
  background-color: var(--accent);
  height: 3rem;
  width: auto;
  color: var(--fontColor);
  font-family: var(--fontFamily);
  font-size: 1.2rem;
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  transition: all 1s ease;
}

.filterBy {
  width: 100%;
  height: 2rem;
  border: 1px solid #c4d4dd;
  margin-top: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2px 2px 2px 1rem;
}

.filterContainer {
  width: 100%;
  border: 1px solid #c4d4dd;
  display: flex;
  flex-direction: column;
  flex-direction: flex-end;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 10px 10px 1rem;
  border-top: 0px;
  gap: 5px;
}

.filterContainer p {
  width: 100%;
}

.filterContainer input {
  transform: scale(1.2);
  cursor: pointer;
  cursor: pointer;
  border-radius: 5px;
}
.filterLabel {
  font-size: 16px;
  font-weight: lighter;
  margin: 10px;
}

.filterContainer-sticky {
  border: 1px solid #c4d4dd;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  width: 398.4px;
  padding: 10px 10px 10px 1rem;
  border-top: 0px;
  gap: 5px;
  position: fixed;
  top: 0px;
}
