.about-registerSignInBtnWrapper,
.about-registerSignOutBtnWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5rem;
  gap: 1rem;
  /* background-color: #ffff; */
}

/* .about-customerService {
} */
